---
import CaroGame from "../components/caro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Caro game">
    <div class="container">
        <a href="/">Về trang điều hướng</a>
        <span>Ai đạt 3 con thẳng hàng trước là thắng</span>
        <div>
            <CaroGame client:only="react" />
        </div>
    </div>
</Layout>

<style>
    .container {
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #F0F2F5;
        gap: 8px;
        overflow: auto;
        width: 100vw;
        padding: 2rem;
    }
</style>