---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
    <a href="/todo">Todo</a>
    <a href="/caro">Caro</a>
    <a href="/rock-paper-scissor">Kéo búa bao</a>
</Layout>

<style>
    .root {
        display: flex;
        gap: .5rem;
    }
</style>